@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-self: flex-end;
    font-size: 13px;
    
}

a {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    align-self: flex-end;
    text-decoration: none;
}
a:hover {
    color: rgb(246, 153, 6);
    font-weight: bold;
}

footer {
    display: flex;
    align-self: flex-start;
    margin-left: 5px;
    font-size: 14px;
    margin-top: 10px;
}

body {
    background-color: #e8eeefcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#fondo {
    height: 530px;
    width: 285px;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#pantalla {
    height: 170px;
    width: 250px;
    border-radius: 10px;
    display: flex;
}

#texto-de-pantalla {
    font-size: 22.5px;
    width: 250px;
    height: 165px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;
    word-break: break-all;
    overflow-y: hidden;
}

#panel-numerico {
    height: 300px;
    width: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.filas {
    width: 265px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    height: 55px;
    width: 55px;
    border: 0px none black;
    border-radius: 100%;
    font-size: 20px;
    margin: 6px;
    font-size: 23px;
    font-weight: 200;
    color: white;
    background-color: rgb(49, 49, 49);
}

.button:active {
    background-color: rgb(36, 35, 35);
}

#cero {     
    border-radius: 10px;
    width: 120px;
}

/* colores amarillo de los botones */
#dividir {
    background-color: rgb(246, 153, 6);
    font-size: 30px;
}
#por {
    background-color: rgb(246, 153, 6);
    font-size: 22px;
}
#menos {
    background-color: rgb(246, 153, 6);
    font-size: 30px;
}
#mas {
    background-color: rgb(246, 153, 6);
}
#igual {
    background-color: rgb(246, 153, 6);  
}
/* actives de los colores amarillos */
#dividir:active {
    background-color: rgb(217, 141, 19);
}
#por:active {
    background-color: rgb(217, 141, 19);
}
#menos:active {
    background-color: rgb(217, 141, 19);
}
#mas:active {
    background-color: rgb(217, 141, 19);
}
#igual:active {
    background-color: rgb(217, 141, 19);
}

/* colores grises */
#AC {
    background-color: rgb(150, 150, 150); 
    font-size: 20px;  
    font-weight: lighter;
    color: black;
}
#porcentaje {
    background-color: rgb(150, 150, 150); 
    font-size: 20px;
    font-weight: lighter;
    color: black;
}
#D {
    background-color: rgb(150, 150, 150); 
    font-size: 28px;
    font-weight: lighter;
    color: rgb(36, 36, 36);
}
/* actives de los colores grises */
#AC:active {
    background-color: rgb(132, 129, 129); 
}
#porcentaje:active {
    background-color: rgb(132, 129, 129);
}
#D:active {
    background-color: rgb(132, 129, 129);
}
